body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.main {
    border: 10px solid rgb(222, 222, 255);
    border-radius: 20px;
    padding: 60px;
    width: 600px;
    background: linear-gradient(85deg, rgb(181, 154, 255), rgb(72, 72, 255));
    color: white;
    font-family: sans-serif;
}

.main h1 {
    font-weight: 300;
}

.main p {
    font-size: 15px;
}

.email {
    width: 350px;
    height: 60px;
    border-radius: 50px;
    border: none;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}
.inner-send{
    position: relative;
}
.button {
    position: absolute;
    top:5px;
    left:420px;
    border:none;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    
}